<!-- Footer -->
<div class="footer">
	<div class="container">
		<div class="row">
		    <div class="col-footer col-sm-2 col-xs-4">
		    	<h3>关于我们</h3>
		    	<ul class="no-list-style footer-navigate-section">
		    		<li><a>关于我们</a></li>
		    		<li><a>服务范围</a></li>
		    		<li><a>网站开发</a></li>
		    		<li><a>联系我们</a></li>
				</ul>
			</div>
		    <div class="col-footer col-sm-2 col-xs-4">
				<h3>服务范围</h3>
				<ul class="no-list-style footer-navigate-section">
					<li>软件外包</li>
		    		<li>软件开发</li>
		    		<li>微信平台</li>
		    		<li>后台系统</li>
		    	</ul>
		    </div>
			<div class="col-footer col-sm-2 col-xs-4">
				<h3>工作招聘</h3>
				<ul class="no-list-style footer-navigate-section">
					<li>美工</li>
					<li>UI设计</li>
					<li>前端开发</li>
		    		<li>后端开发</li>
		    	</ul>
		    </div>
		   	<div class="col-footer col-sm-3 col-xs-6">
				<h3>联系我们</h3>
					<ul class="no-list-style footer-navigate-section">
		   			<li><b>电话:</b> 18027823968</li>
		   			<li><b>传真:</b> 0758-2107833</li>
		    		<li><b>邮箱:</b> zqhcltd@163.com</li>
		   			<li><b>地址:</b> 肇庆市肇庆学院星湖校区大学生创新创业指导中心</li>
		   		</ul>
		   	</div>
			<div class="col-footer col-sm-3 col-xs-6">
				<h3>地图</h3>
				<!--百度地图容器-->
			<div style="margin-top:20px;width:262px;height:150px;border:#ccc solid 1px;" id="map"></div>
			</div>
		</div>
		<div class="row">
		    <div class="col-md-12">
		    	<div class="footer-copyright">&copy; 2016 华创信息科技有限公司. All rights reserved.</div>
		    </div>
		</div>
	</div>
</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__BOOTSTRAP__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/baiduapi.js"></script>