<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
	<div class="container">
		<nav id="mainmenu" class="mainmenu">
			<ul>
				<li class="logo-wrapper"><a href="{:U('Index/index')}"><img src="__PUBLIC__/images/hc-logo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
				<li id="index" class="active">
					<a href="{:U('Index/index')}">首页</a>
				</li>
				<li id="busi">
					<a href="{:U('Busi/index')}">主营业务</a>
				</li>
				<li id="news">
					<a href="{:U('News/index')}">公司动态</a>
				</li>
			</ul>
		</nav>
	</div>
</div>