<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <include file="Public/header" title="华创信息科技公司"/>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <include file="Public/nav" />
        <!-- Homepage Slider -->
        <div class="homepage-slider">
        	<div id="sequence">
				<ul class="sequence-canvas">
					<!-- Slide 1 -->
					<li class="bg4">
						<!-- Slide Title -->
						<h2 class="title">华创信息科技有限公司</h2>
						<!-- Slide Text -->
						<h3 class="subtitle">如果你需要帮助而我正好有能力帮你，那我会尽全力为你提供最优质的服务！</h3>
						<!-- Slide Image -->
						<img class="slide-img" src="__PUBLIC__/images/homepage-slider/slide1.png" alt="Slide 1" />
					</li>
					<!-- End Slide 1 -->
					<!-- Slide 2 -->
					<li class="bg3">
						<!-- Slide Title -->
						<h2 class="title">软件开发</h2>
						<!-- Slide Text -->
						<h3 class="subtitle">因您所求，做您所需！</h3>
						<!-- Slide Image -->
						<img class="slide-img" src="__PUBLIC__/images/homepage-slider/slide2.png" alt="Slide 2" />
					</li>
					<!-- End Slide 2 -->
					<!-- Slide 3 -->
					<li class="bg1">
						<!-- Slide Title -->
						<h2 class="title">联系我们</h2>
						<!-- Slide Text -->
						<h3 class="subtitle">
						电话：13388338888<br/>
						邮箱：12491499@qq.com<br/>
						地址：肇庆市端州区肇庆学院中巴软件楼
						</h3>
						<!-- Slide Image -->
						<img class="slide-img" src="__PUBLIC__/images/homepage-slider/slide3.png" alt="Slide 3" />
					</li>
					<!-- End Slide 3 -->
				</ul>
				<div class="sequence-pagination-wrapper">
					<ul class="sequence-pagination">
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
				</div>
			</div>
        </div>
        <!-- End Homepage Slider -->

		<!-- Press Coverage -->
        <div class="section">
	    	<div class="container">
				<h2>公司简介</h2>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-wired">
							<a>公司以“用心服务，共创价值”为核心理念，致力为客户提供最优秀企业信息化和电子商务解决方案及相关咨询、培训和实施服务。</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-mashable">
							<a>公司视服务为企业生命，视客户为企业之本，以“成功地帮助了顾客=成功地发展了自己！</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="in-press press-techcrunch">
							<a>我们精益求精提升产品性能，切实为企业节约成本创造价值！愿与广大客户携手前进，共创辉煌</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Press Coverage -->

		<!-- Services -->
        <div class="section">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="__PUBLIC__/images/service-icon/ruler.png" alt="Service 2">
		        			<h3>专业设计</h3>
		        			<p>掌握时下最热门的技术，模板，独立开发后台管理系统。优化搜索，帮助客户设计个性化软件。优质售后，客户再无后顾之忧。</p>
		        			<a href="#" class="btn">查看更多</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="__PUBLIC__/images/service-icon/box.png" alt="Service 3">
		        			<h3>技术团队</h3>
		        			<p>我们是一个成熟的团队，团队成员都有3年以上的开发经验，主要从事以下几项工作：前端重构，页面重构，网站建设，门户建设等等</p>
		        			<a href="#" class="btn">查看更多</a>
		        		</div>
	        		</div>
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="__PUBLIC__/images/service-icon/diamond.png" alt="Service 1">
		        			<h3>优质服务</h3>
		        			<p>不断创新，为客户提供全面更优质的开发及后续服务，利用自己独到的优势，协助客户在日益激烈的信息时代竞争中立于不败之地</p>
		        			<a href="#" class="btn">查看更多</a>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <!-- End Services -->
	    <include file="Public/footer" />
        <script src="__PUBLIC__/js/jquery.sequence-min.js"></script>
		<script src="__PUBLIC__/js/template.js"></script>

    </body>
</html>