<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <include file="Public/header" title="公司动态-华创信息科技公司"/>
    </head>
    <body>
		<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <include file="Public/nav" />
		<div class="container">
			<div class="news-info">
				<div class="title">
					<h1>
						{$title}
					</h1>
					<div class="time">
						<span>{$time}</span>
					</div>
				</div>
				<div class="content">
					{$content}
				</div>
			</div>
		</div>
		<include file="Public/footer" />
		<script>
			$('#news').addClass("active").siblings().removeClass("active");
		</script>
	</body>
</html>